.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}

form div {
  margin: 1rem 0;
}

input {
  margin-left: 1rem;
  width: 100%;
}

a {
  margin: 1rem;
}